{% extends "basic.html" %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h1>Coin-ID</h1>
      <p>
        FILLER
        <br><br>
        MORE FILLER
      </p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    </div>
  </div>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Project Details</h2>
        <p>
          Tensorflow stuff
        </p>
        <p><a class="btn btn-default" href="/about" role="button">Read on &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Submit Picture</h2>
        <p>
          Submit your picture here
        </p>
        <p><a class="btn btn-default" href="/submit" role="button">PUP PUP AND AWAY &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>About Me</h2>
        <p>
          stuff
        <p><a class="btn btn-default" href="/aboutme" role="button">website &raquo;</a></p>
      </div>
    </div>


{% endblock %}
